{% extends 'blog/base.html' %}

{% block page_content %}
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {%endif%}
    <table>
        <td><h1>Edit Post ...</h1></td>
        <td><a class="btn btn-danger" href="{%url 'articles:article-delete' object.slug%}"> Delete Article</a></td>
    </table>
     <div class="form-group">
         <form method="POST" class="form-control" enctype="multipart/form-data" style="background-color: #F5F5DC;">
             {% csrf_token %}
             {{form.media}}
             {{ form.as_p }}
             <div class="d-grid gap-2" >
                <input type="submit" class="save btn btn-outline-secondary" value="Save">
             </div>
             <br>
            <br>
            <a class="btn btn-outline-secondary" href="{%url 'articles:article-detail' object.slug%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </a>

         </form>
     </div>

{% endblock %}