{% extends 'blog/base.html' %}



{% block page_content %}
    <h2 class="mt-3">Search Results</h2>
    <hr>
  <div class="d-flex d-flex flex-column justify-content-center align-items-center">
      <div class="p-4 mb-3 text-dark "style="background-color: #F5F5DC;">
          <h6>Word Check</h6>
          <form action="{% url 'articles:search' %}"  method="GET" class="mb-5">
                <input name="q"  type="search" placeholder="Search..." aria-label="Search">
                <input  type="submit" value="Search"/>
            </form>
          <h6><strong>Number of posts that contains</strong></h6>
          {% if posts %}
                <h5 align="center">"{{ querystring }}" is : {{ posts.count }}</h5>
          {% else %}
            <p class="text-muted">---</p>
          {% endif %}

      </div>
      <a class="btn btn-outline-secondary" href="{%url 'blog:blog'%}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
      </a>
</div>

{% endblock  %}